---
import { SignIn } from "astro-clerk-auth/components/interactive";
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sign in',
};
---

<Layout metadata={metadata}>
  <div class="flex w-full h-full mb-8 justify-center items-center">    
    <SignIn />
  </div>
</Layout>