---
import { SignUp } from "astro-clerk-auth/components/interactive";
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sign up',
};
---

<Layout metadata={metadata}>
  <div class="flex w-full h-full min-h-screen justify-center items-center p-5">
    <SignUp />
  </div>
</Layout>