---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import Video from '~/components/widgets/Video.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: '24up. — An AI Coach for Busy People',
  description: 'Master your fitness journey with real-time AI coaching. Get instant form feedback, track progress, and achieve your fitness goals safely and effectively.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions_sign_in={[
      {
        variant: 'primary',
        text: 'Join Waitlist',
        href: '',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    actions_sign_out={[
      {
        variant: 'primary',
        text: 'Sign in / up',
        href: '/sign-in',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <div class="mb-6">
        <span class="hidden sm:inline">
          Smarter Fitness with a <span class="text-accent dark:text-white highlight"> Forever-Free </span>Workout
          Partner
        </span>
        <span class="sm:hidden"
          >Smarter Fitness with a <span class="text-accent dark:text-white highlight">Forever-Free</span> Workout Partner</span
        >
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-2xl">
        <span class="font-bold">24up.</span> An AI Coach for Busy People
      </span>
      <span class="text-2xl sm:hidden">
        <span class="font-bold">24up.</span> An AI Coach for Busy People
      </span>
    </Fragment>

  </Hero>
  
  <Video />

  <!-- Note Widget ******************* -->

  <Note textBold="Just" text="Do It Right" />

  <Testimonials
    title="Early User Insights"
    subtitle="Feedback from fitness enthusiasts who've experienced our AI-powered coaching"
    testimonials={[
      {
        testimonial: `Being new to Pilates, I was initially nervous about trying exercises. The app's instant feedback reassured me that I was performing each rep with the right form, which gave me the confidence to keep going. As a UX specialist, I appreciate how easy the experience is—it feels like having a supportive coach by my side, guiding me at every step.`,
        name: 'Olga Roman',
        job: 'UX Specialist & Pilates Beginner',
        linkedin: 'https://www.linkedin.com/in/olga-roman-product-designer/',
        image: {
          src: 'https://media.licdn.com/dms/image/v2/C4E03AQGbmmHO0ZNvpg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1617303209853?e=1736985600&v=beta&t=l_2AYnir-kZ9i-kjWs_Byv0L94efuf00__0_VrElxhI',
          alt: 'Olga Roman Image',
        },
      },
      {
        testimonial: 'The real-time form feedback is great! I had been struggling with proper hip thrust technique, but the AI coach helped me understand exactly when to engage my glutes and maintain proper spine alignment. As a tech specialist, I’m impressed by how seamlessly the app delivers these insights. As a new app, it has some expected bugs, but I’m hopeful these will improve over time. My workouts are already so much more effective!',
        name: 'Yai Bolanos',
        job: 'Tech & Fitness Enthusiast',
        linkedin: 'https://www.linkedin.com/in/yaibolanos/',
        image: {
          src: 'https://media.licdn.com/dms/image/v2/C4E03AQHs3AQLCbZnRg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1542209749644?e=1736985600&v=beta&t=bta6se7XLZ6Mowj62gjLcUzPrXZRLwlYjORViFhBVNY',
          alt: 'Yai Bolanos Image',
        },
      },
      {
        testimonial: `As an AI researcher, I'm always impressed by technology that translates complex insights into everyday benefits. The AI coach's precision with form correction has been promising. It provides real-time adjustments that help me focus on correct muscle engagement and minimize strain. This kind of immediate, data-driven feedback is something I'd expect from a trainer. Looking forward to see the app grow!`,
        name: 'Abel Berenguer',
        job: 'AI Researcher',
        linkedin: 'https://www.linkedin.com/in/abel-d%C3%ADaz-berenguer-1374b1175/',
        image: {
          src: 'https://media.licdn.com/dms/image/v2/D4E03AQG9sGX48K0p2Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1718231140970?e=1736985600&v=beta&t=_vx06dvyLwq5DLOE2kg6FkeH469YR6yrJsr3P2ce0uQ',
          alt: 'Abel Berenguer Image',
        },
      },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with 24up."
    subtitle="Achieve your best form and fitness. For busy people, by busy people."
    items={[
      {
        title: 'Just You + AI',
        description: 'Your personalized AI coach. Anytime, anywhere—just you and your camera.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Tailor-made to your Performance',
        description:
          'Our app analyzes your performance in real-time, adjusting exercises to your skill level for continuous, safe progress.',
        icon: 'tabler:components',
      },
      {
        title: 'Automatic Rep Counter',
        description:
          'Accurately tracking and reporting repetitions, one of the most critical aspects of physical training, enhances your overall experience (coming soon).',
        icon: 'tabler:list-check',
      },
      {
        title: 'Stay Fit, Stay Up—24/7',
        description:
          'Experience personal trainer benefits at a fraction of the cost, making fitness accessible and convenient, especially for home workouts.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Real-Time Feedback',
        description:
          'Get real-time feedback with alerts for incorrect exercises, preventing injuries and ensuring more effective workouts.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Enjoy and Focus',
        description:
          'Audio responses keep you engaged and focused, providing gym-like guidance and encouragement during workouts.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible pricing plans"
    classes={{ container: 'bg-blue-50 dark:bg-transparent' }}
    prices={[
      {
        title: 'free forever',
        subtitle: 'Try the app. Access to some features',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Real time feedback. Advanced AI coach',
        price: 10,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'Best',
      },
      // {
      //   title: 'Enterprise',
      //   subtitle: 'Api Access. For custom requirements',
      //   price: 'Custom',
      //   period: '/ Month',
      //   callToAction: {
      //     target: '_blank',
      //     text: "Let's talk",
      //     href: '#',
      //   },
      // },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`Master your fitness journey with AI. Discover revolutionary health insights and become an expert with our blog. Thanks for following along!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into these questions to discover the powerful features of 24up. and how it can elevate your fitness journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Do the plans come with customer support?',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        title: 'Is there a trial period for the different plans?',
        description:
          'While we don’t offer trial periods for our plans, you can use the app free forever to access the basic features.',
      },
      {
        title: 'Can I switch between plans?',
        description:
          'Certainly! You can easily upgrade or downgrade your plan, at any time, to find the one that best suits your needs.',
      },
      {
        title: 'What payment methods do you accept?',
        description:
          'We accept major credit cards and online payment methods to ensure a convenient and secure transaction process.',
      },
      {
        title: 'Are there any hidden fees beyond the displayed cost?',
        description:
          'No, the subscription cost covers all the features listed under each plan. There are no hidden fees or extra charges.',
      },
      {
        title: 'How do I cancel my subscription?',
        description:
          'You can cancel your subscription at any time through the account settings within the app. Once canceled, your subscription will remain active until the end of the current billing cycle.',
      },
      {
        title: 'How is my data protected?',
        description:
          'We take your privacy seriously. All personal information is stored securely and is only used to enhance your experience with the app. We comply with all relevant data protection principles to ensure your data remains safe.',
      },
      {
        title: 'Is 24up. suitable for beginners?',
        description:
          'Absolutely! 24up. is designed to cater to all fitness levels. Whether you’re just starting or have been working out for years, the app offers customizable workouts that can be adjusted to fit your fitness level.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Demo Downloads', amount: '+100' },
      { title: 'Beta Users', amount: '+500' },
      { title: 'User Rating', amount: '4.6 stars' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to boost your shape?"
    subtitle="Join our community of members who want to transform their fitness."
    actions_sign_in={[
      {
        variant: 'primary',
        text: 'Join Waitlist',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    actions_sign_out={[
      {
        variant: 'primary',
        text: 'Sign in / up',
        href: '/sign-in',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
  />
</Layout>
