---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Pricing from '~/components/widgets/Pricing.astro';

const metadata = {
  title: '24up. — Free app for getting in shape',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions_sign_in={[
      {
        variant: 'primary',
        text: 'Join Waitlist',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    actions_sign_out={[
      {
        variant: 'primary',
        text: 'Sign in / up',
        href: '/sign-in',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <div class="mb-6">
        <span class="hidden sm:inline">
          Smarter Fitness with a <span class="text-accent dark:text-white highlight"> Forever-Free </span>Workout
          Partner
        </span>
        <span class="sm:hidden"
          >Smarter Fitness with a <span class="text-accent dark:text-white highlight">Forever-Free</span> Workout Partner</span
        >
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-2xl">
        <span class="font-bold">24up.</span> An AI Coach for Busy People
      </span>
      <span class="text-2xl sm:hidden">
        <span class="font-bold">24up.</span> An AI Coach for Busy People
      </span>
    </Fragment>

    <!-- <Fragment slot="image">
    </Fragment> -->
  </Hero>
  
 
  <!-- <div class="responsive-video-container">
    <iframe
      src={`https://www.youtube.com/embed/1phiRZDWeBQ?playlist=rEf8y_kITQ0&loop=1&autoplay=1&mute=1`}
      title="YOUR PERSONALIZED AI COACH - ANYTIME, ANYWHERE"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div> -->
  <div class="responsive-video-container">
    <video src={import.meta.env.BASE_URL + 'videos/web.mp4'} controls autoplay muted loop></video>
  </div>

  <style is:inline>
    .responsive-video-container {
      position: relative;
      width: 100%;
      padding-bottom: 41%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      height: 0;
      overflow: hidden;
    }

    /* .responsive-video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    } */
  </style>

  <!-- Note Widget ******************* -->

  <Note textBold="Just" text="Do It Right" />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with 24up."
    subtitle="Achieve your best form and fitness. For busy people, by busy people."
    items={[
      {
        title: 'Just You + AI',
        description: 'Your personalized AI coach. Anytime, anywhere—just you and your camera.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Tailor-made to your Performance',
        description:
          'Our app analyzes your performance in real-time, adjusting exercises to your skill level for continuous, safe progress.',
        icon: 'tabler:components',
      },
      {
        title: 'Automatic Rep Counter',
        description:
          'Accurately tracking and reporting repetitions, one of the most critical aspects of physical training, enhances your overall experience (coming soon).',
        icon: 'tabler:list-check',
      },
      {
        title: 'Stay Fit, Stay Up—24/7',
        description:
          'Experience personal trainer benefits at a fraction of the cost, making fitness accessible and convenient, especially for home workouts.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Real-Time Feedback',
        description:
          'Get real-time feedback with alerts for incorrect exercises, preventing injuries and ensuring more effective workouts.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Enjoy and Focus',
        description:
          'Audio responses keep you engaged and focused, providing gym-like guidance and encouragement during workouts.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    tagline="Inside template"
    title="24up.'s Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with 24up..',
      },
      {
        title: 'Community support',
        description: `Join the growing 24up. community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with 24up.."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the 24up. template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by 24up.! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible pricing plans"
    classes={{ container: 'bg-blue-50 dark:bg-transparent' }}
    prices={[
      {
        title: 'free forever',
        subtitle: 'Try the app. Access to some features',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Real time feedback. Advanced AI coach',
        price: 10,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'Best',
      },
      // {
      //   title: 'Enterprise',
      //   subtitle: 'Api Access. For custom requirements',
      //   price: 'Custom',
      //   period: '/ Month',
      //   callToAction: {
      //     target: '_blank',
      //     text: "Let's talk",
      //     href: '#',
      //   },
      // },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`Master your fitness journey with AI. Discover revolutionary health insights and become an expert with our blog. Thanks for following along!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into these questions to discover the powerful features of 24up. and how it can elevate your fitness journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Do the plans come with customer support?',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        title: 'Is there a trial period for the different plans?',
        description:
          'While we don’t offer trial periods for our plans, you can use the app free forever to access the basic features.',
      },
      {
        title: 'Can I switch between plans?',
        description:
          'Certainly! You can easily upgrade or downgrade your plan, at any time, to find the one that best suits your needs.',
      },
      {
        title: 'What payment methods do you accept?',
        description:
          'We accept major credit cards and online payment methods to ensure a convenient and secure transaction process.',
      },
      {
        title: 'Are there any hidden fees beyond the displayed cost?',
        description:
          'No, the subscription cost covers all the features listed under each plan. There are no hidden fees or extra charges.',
      },
      {
        title: 'How do I cancel my subscription?',
        description:
          'You can cancel your subscription at any time through the account settings within the app. Once canceled, your subscription will remain active until the end of the current billing cycle.',
      },
      {
        title: 'How is my data protected?',
        description:
          'We take your privacy seriously. All personal information is stored securely and is only used to enhance your experience with the app. We comply with all relevant data protection principles to ensure your data remains safe.',
      },
      {
        title: 'Is 24up. suitable for beginners?',
        description:
          'Absolutely! 24up. is designed to cater to all fitness levels. Whether you’re just starting or have been working out for years, the app offers customizable workouts that can be adjusted to fit your fitness level.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Demo Downloads', amount: '+100' },
      { title: 'Beta Users', amount: '+500' },
      { title: 'User Rating', amount: '4.6 stars' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to boost your shape?"
    subtitle="Join our community of members who want to transform their fitness."
    actions_sign_in={[
      {
        variant: 'primary',
        text: 'Join Waitlist',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    actions_sign_out={[
      {
        variant: 'primary',
        text: 'Sign in / up',
        href: '/sign-in',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
  />
</Layout>
